<h1>Edit task</h1>
<html>
<table border="1" >
<tr>
<%= form_for @task, :url => {:action => :update, :id => @task.id } do |f| %>
 <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :task_type %><br />
    <%= f.select(:task_type, options_for_select(["Bug", "Feature", "Support"])) %>
  </div>
  <div class="field">
    <%= f.label :disposition %><br />
    <%= f.text_field :disposition %>
  </div>
  <div class="field">
    <%= f.label :acceptor %><br />
	<%= f.select :acceptor, User.find(:all, :conditions =>"lastname= Admin").collect{|p|[p.lastname]},  {:include_blank => 'select'} %>
 <div class="field">
    <%= f.label :estimated_hours %><br />
    <%= f.text_field :estimated_hours %>
  </div>
 <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


