<html>
<p> Task : <h2><%= @task.name %></h2></p>
<table>
<tr>

<td>
Name:
</td>
<td>
<%= @task.name %>
</td>
</tr>
<tr>
<td>
task_type
</td>
<td>
<%= @task.task_type %>
</td>
</tr>
<tr>
<td>
disposition
</td>
<td>
<%= @task.disposition %>
</td>
</tr>
<tr>
<td>
acceptor
</td>
<td>
<%= @task.acceptor %>
</td>
</tr>

<tr>
<td>
estimated_hours
</td>
<td>
<%= @task.estimated_hours %>
</td>
</tr>
<tr>
<td>
description
</td>
<td>
<%= @task.description %>
</td>
</tr>


</table>
<hr/>
<%#= @project.id.inspect%>
<%#= link_to "users_stories", project_iteration_story_tasks_path(@project.id, @iteration.id, @story.id )%>
<%#= @project.inspect%>
<%= link_to "tasks index page", project_iteration_story_tasks_path%>
<%= link_to "back to index page", projects_path%>
 <%= link_to "reports" , project_iteration_story_task_timereports_path(@project.id,@iteration.id,@story.id,@task.id) %>
