<div class="contextual">
  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <%#= link_to l(:label_subproject_new), {:controller => 'projects', :action => 'new', :parent_id => @project}, :class => 'icon icon-add' %>
  <% end %>
</div>

<h2><%=l(:label_overview)%></h2>
<% user = User.current.lastname %>
<div class="splitcontentleft">
  <div class="wiki">
    <%= textilizable @project.description %>
  </div>
<hr/>
<table width="600px">
<tr width="600px">

<th width="100px"><b>name</b></th>
<th width="100px"><b>task_type</b></th>
<th width="100px"><b>estimated_hours</b></th>
<th width="100px"><b>acceptor</b></th>
<th width="200px"><b>description</b></th>

</tr>
<% @project.iteration.each do |it| %>
<% @pro_id = Project.find(params[:id]) %>
	<% it.story.each do |st| %>
		<% st.tasks.each do |task| %>
			<% if task.acceptor == user %>
			<tr width="600px">	
			<td width="100px"><%=link_to task.name, project_iteration_story_task_path(@pro_id, it.id, st.id, task.id)%></td>
			<td width="100px"><%= task.task_type %></td>
			<td width="100px"><%= task.estimated_hours %></td>
			<td width="100px"><%= task.acceptor %></td>
			<td width="200px"><%= task.description %></td>
			</tr>
                       
 			<% end %>
		<% end %>
	<% end %>
<% end %>
</table>
  <ul>
  <% unless @project.homepage.blank? %>
    <li><%=l(:field_homepage)%>: <%= link_to h(@project.homepage), @project.homepage %></li>
  <% end %>
  <% if @subprojects.any? %>
    <li><%=l(:label_subproject_plural)%>:
      <%= @subprojects.collect{|p| link_to(h(p), :action => 'show', :id => p)}.join(", ").html_safe %></li>
  <% end %>
  <% @project.visible_custom_field_values.each do |custom_value| %>
  <% if !custom_value.value.blank? %>
     <li><%=h custom_value.custom_field.name %>: <%=h show_value(custom_value) %></li>
  <% end %>
  <% end %>
  </ul>

  <% if User.current.allowed_to?(:view_issues, @project) %>
  <div>
   
    
    <% for tracker in @trackers %>
      <%#= link_to h(tracker.name), :controller => 'issues', :action => 'index', :project_id => @project,
                                                :set_filter => 1,
                                                "tracker_id" => tracker.id %>
          <%#= l(:label_x_open_issues_abbr_on_total, :count => @open_issues_by_tracker[tracker].to_i,
                                                    :total => @total_issues_by_tracker[tracker].to_i) %>
      
    <% end %>
  
  
      <%#= link_to l(:label_issue_view_all), :controller => 'issues', :action => 'index', :project_id => @project, :set_filter => 1 %>
      <% if User.current.allowed_to?(:view_calendar, @project, :global => true) %>
       <%#= link_to(l(:label_calendar), :controller => 'calendars', :action => 'show', :project_id => @project) %>
      <% end %>
      <% if User.current.allowed_to?(:view_gantt, @project, :global => true) %>
        <%#= link_to(l(:label_gantt), :controller => 'gantts', :action => 'show', :project_id => @project) %>
	 <%= link_to "iterations", project_iterations_path(@project.id)  %>
      <% end %>
   
  </div>
  <% end %>
  <%= call_hook(:view_projects_show_left, :project => @project) %>
</div>

<div class="splitcontentright">
  <%= render :partial => 'members_box' %>

  <% if @news.any? && authorize_for('news', 'index') %>
  <div class="news box">
    <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <p><%= link_to l(:label_news_view_all), :controller => 'news', :action => 'index', :project_id => @project %></p>
  </div>
  <% end %>
  <%= call_hook(:view_projects_show_right, :project => @project) %>
</div>

<% content_for :sidebar do %>
    <% if @total_hours.present? %>
    <h3><%#= l(:label_spent_time) %></h3>
    <p><%#=span class="icon icon-time"%><%#= l_hours(@total_hours) %></span></p>
    <p><%#= link_to(l(:label_details), project_time_entries_path(@project)) %> 
    <%#= link_to(l(:label_report), report_project_time_entries_path(@project)) %></p>
    <% end %>
    <%#= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
<% end %>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% html_title(l(:label_overview)) -%>
