<html>
<p> Iteration : <h2><%= @iteration.name %></h2></p>
<table>
<tr>

<td>
Name:
</td>
<td>
<%= @storie.name %>
</td>
</tr>
<tr>
<td>
Description
</td>
<td>
<%= @storie.description %>
</td>
</tr>
<tr>
<td>
Customer
</td>
<td>
<%= @storie.customer %>
</td>
</tr>
<tr>
<td>
Tracker
</td>
<td>
<%= @storie.tracker %>
</td>
</tr>
<tr>
<td>
Status
</td>
<td>
<%= @storie.status %>
</td>
</tr>
<tr>
<td>
Priority
</td>
<td>
<%= @storie.priority %>
</td>
</tr>
<tr>
<td>
Order
</td>
<td>
<%= @storie.order %>
</td>
</tr>
<tr>
<td>
Estimation hours
</td>
<td>
<%#= @storie.Estimated_hours %>
</td>
</tr>

</table>
