<%= javascript_include_tag('jquery.min', 'jquery.datepick')%>
<%= stylesheet_link_tag('jquery.datepick')%>
<h1>Editing Iteration</h1>

<html>
<p> New Iteration for <b><%= @project.name %></b> </p>
<table border="1" >
<tr>
<%= form_for @iteration , :url => {:action => :update, :id => @project.id } do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Start_date %><br />
    <%#= f.date_select :start_date %>
    <%= f.text_field :start_date, :value => @iteration.start_date.strftime("%Y-%d-%m"),:id => :popupDatepicker %>
  </div>
  <div class="field">
    <%= f.label :End_date %><br />
    <%#= f.date_select :end_date %>
    <%= f.text_field :end_date, :value => @iteration.end_date.strftime("%Y-%d-%m"), :id => :popupDatepicker1%>
  </div>
   <div class="field">
    <%= f.label :Status %><br />
   <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</tr>
 </table>
</html>
 <script>
$(function() {
	$('#popupDatepicker').datepick({dateFormat: 'yyyy-mm-dd'});
	
	$('#popupDatepicker1').datepick({dateFormat: 'yyyy-mm-dd'});
});

</script>


