<html>
<p> New Iteration for <b><%= @project.name %></b> </p>
<table border="1" >
<tr>
<%= form_for([@project, @project.iteration.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :End_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :Description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</tr>
 </table>
</html>
