<html>
<p> Iteration : <h2><%= @iteration.name %></h2></p>
<table>
<tr>

<td>
Name:
</td>
<td>
<%= @iteration.name %>
</td>
</tr>
<tr>
<td>
Start_date
</td>
<td>
<%= @iteration.start_date %>
</td>
</tr>
<tr>
<td>
End_date
</td>
<td>
<%= @iteration.end_date %>
</td>
</tr>
<tr>
<td>
Description
</td>
<td>
<%= @iteration.description %>
</td>
</tr>
</table>
<%#= @project.id %>
<%#= @iteration.id %>
<%= link_to "users_stories", project_iteration_stories_path(@project.id, @iteration.id )%>
</html>
