<%= form_for(@timereport) do |f| %>
  <table> 
   <tr>
<td> <%= f.label :user %> : </td>
<td> <%= f.text_field :user %></td>

  
    <td><%= f.label :start_date %> : </td>
   <td> <%= f.date_select :start_date %> </td>

   <td> <%= f.label :end_date %> : </td>
   <td> <%= f.date_select :end_date %> </td>
</tr>
</table>

  <div class="actions">
    <%= f.submit  "Report"%>
  </div>
<% end %>
