<h1>Listing timereports</h1>

<table>
  <tr>
    <th>User</th>
    <th>Start date</th>
    <th>End date</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timereports.each do |timereport| %>
  <tr>
    <td><%= timereport.user %></td>
    <td><%= timereport.start_date %></td>
    <td><%= timereport.end_date %></td>
    <td><%= timereport.user %></td>
    <td><%= link_to 'Show', timereport %></td>
    <td><%= link_to 'Edit', edit_timereport_path(timereport) %></td>
    <td><%= link_to 'Destroy', timereport, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timereport', new_timereport_path %>
