

<%= form_tag @logs do |f| %>
<%= f.text_field :report_date%>
<%= f.text_field :spent_hours%>
<%= f.text_field :remaining_time%>
<%= f.text_field :estimated_time%>
<%= f.text_field :task_id%>
<%= f.text_field :description%>
<%= f.text_field :user1%>
<%= f.text_field :user2%>

<%f.submit%>
<%end%> 

    <table>
    <tr>
		<th>
			Change value
		</th>
		 <th>
			Remaining value
		</th>
		 <th>
			Actual Value
		</th>
	</tr>
	<tr>
    <td>
		<%#= text_field_tag :spent_hours, :onchange=> "myFunction()", :id => "log_spent_hours"%>
		<%#= text_field_tag 'request',1, :id => "log_spent_hours", :onchange=> "myFunction()" %>
		<%= text_field_tag 'log spent hours',0, :onchange=> "myFunction()"  %>

    </td>
    <td>  
    <script>
			function myFunction()
			{
				var current_ele = $("#log_spent_hours").val();
				 var actua_value = $("#payment_amount").val();
				 
				  if(current_ele < parseInt(actua_value))
				  { 
					   var remaining_value = actua_value-current_ele
					   $("#remaining_time").val(remaining_value); 
				   }
				   else
				  {
					alert("hey you exceeded actuall value"); 
				  }

			 }
	</script>  
		<%= text_field_tag 'remaining time',0, :disabled => true %>
	</td>

    <td>    
		<%= text_field_tag 'payment_amount', @task.estimated_hours, :disabled => true %>
	</td>
	</tr>
	</table>


   
