<html>
<head>
<%= javascript_include_tag('jquery.min', 'jquery.datepick')%>
<%= stylesheet_link_tag('jquery.datepick')%>
<script>
#selection
{
 margin-left: 15%;
 padding-left: 20%;
}
</script>
</head>
<body>
Generate reports:
<%= form_tag (my_finalreport_path) do %>
<table width=100% height="250px" border="1px">
<tr>
<td width=50% id="select">
 
<% @option_value = @option %>
<%= hidden_field_tag "option_value", value = @option %>
<%if @option_value == "User" %>
<%= select_tag  "option",   options_for_select(User.find(:all, :conditions =>"lastname= Admin").collect{|p|[p.lastname]}), :id=>"selection" %>
<% end %>
<%if @option_value == "Project" %>

<%= select_tag "option", options_for_select(Project.find(:all).collect{|p|[p.name]}) %>


<% end %>
</td>
<td width=50%>
<table>
	<tr >
		<td>
			Start Date:<%= text_field_tag 'start_date', value = ""%>
		</td>
		<td>
			End Date:<%= text_field_tag 'end_date'%>
		</td>
		<td>
			<%= hidden_field_tag 'start_date_hidden'%>
		</td>
		<td>
			<%= hidden_field_tag 'end_date_hidden'%>
		</td>
		
	</tr>
	<tr>
		
		<td>
			<%= submit_tag 'Generate', :id => "generateid"%> <%= submit_tag 'reset', :id => "cleardates"%>
		</td>
	</tr>
</table>
</td>
</tr>
</table>
<% end %>
</body>
</html>
 <script>
$(function() {
	$('#start_date').datepick({dateFormat: 'yyyy-mm-dd'});
	
	$('#end_date').datepick({dateFormat: 'yyyy-mm-dd'});
	
	$("#cleardates").click(function(){
			$("#start_date").val("");
			$("#end_date").val("");
	});
	$("#generateid").click(function(){
		var start = $("#start_date").val();
		var end = $("#end_date").val();
		$("#start_date_hidden").val(start);
	});
});



</script>
