<html>
<head>
<%= javascript_include_tag('jquery.min', 'jquery.datepick')%>
<%= stylesheet_link_tag('jquery.datepick')%></head>
<body>
Generate reports:
<table>
	<tr >
		<td>
			Start Date:<%= text_field_tag 'start_date', value = ""%>
		</td>
		<td>
			End Date:<%= text_field_tag 'end_date'%>
		</td>
		<td>
			<%= hidden_field_tag 'start_date_hidden'%>
		</td>
		<td>
			<%= hidden_field_tag 'end_date_hidden'%>
		</td>
		<td>
			<%= submit_tag 'Generate', :id => "generateid"%>
		</td>
		<td>
			<%= submit_tag 'reset', :id => "cleardates"%>
		</td>
	</tr>
</table>
</body>
</html>
 <script>
$(function() {
	$('#start_date').datepick({dateFormat: 'yyyy-mm-dd'});
	
	$('#end_date').datepick({dateFormat: 'yyyy-mm-dd'});
	
	$("#cleardates").click(function(){
			$("#start_date").val("");
			$("#end_date").val("");
	});
	$("#generateid").click(function(){
		var start = $("#start_date").val();
		var end = $("#end_date").val();
		$("#start_date_hidden").val(start);
	});
});



</script>
